<h1>Search Movies</h1>

<form action="/movies/search" method="get">
  <input type="string" name="movie">
  <button>Search</button>
</form>

<% if @movies.nil? %>
<% else %>
  <% @movies.each do |movie| %>
    <%= link_to movie.title, movie.id %>
  <% end %>
<% end %>
