<h1>Search Movies</h1>

<form action="/movies/search" method="get">
  <input type="string" name="movie">
  <button>Search</button>
</form>

<% if @movies.nil? %>
<% else %>
<ul>
  <% @movies.each do |movie| %>
    <li> <%= link_to movie.title, movie.id %> </li>
  <% end %>
 </ul>
<% end %>

