 <nav>
    <%= link_to("Home", root_path) %> |
    <%= link_to("Search Movies", movie_search_path) %> |
    <%= link_to("Saved Movies", saved_path) %> |
    <%= link_to("Favorite Movies", favorite_movies_path) %>
  </nav>